@model IEnumerable<ProyectoVotoWeb.Models.tblRestaurantes>

@{
    ViewData["Title"] = "Index";
}

<div class="col-12">

    <div class="card">
        <div class="card-header bg-primary">
            <h1 class="text-center align-content-end">Restaurantes</h1>
        </div>

        <div class="card-body">
            <p>
                <a asp-action="Create" class="btn btn-success">Agregar</a>
            </p>
            <table class="table table-responsive-lg table-active table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.NombreRestaurante)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Decripcion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Logo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImgDestacada)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreRestaurante)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Decripcion)
                            </td>
                            <td>
                                <img src="@item.Logo" alt="Logo" style="width:30px" />
                            </td>
                            <td>
                                <img src="@item.ImgDestacada" alt="Imagen" style="width:30px" />
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.IdRestaurante" class="btn btn-warning ">Editar</a> |
                                <a asp-action="Details" asp-route-id="@item.IdRestaurante" class="btn btn-info ">Detalles</a> |
                                <a asp-action="Delete" asp-route-id="@item.IdRestaurante" class="btn btn-danger ">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>